body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.phone {
  background-image: url(http://store.storeimages.cdn-apple.com/4973/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone6/plus/iphone6-plus-box-space-gray-2014_GEO_US?wid=478&hei=595&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=1453545761859);
  display: flex;
  flex-direction: column;
  height: 595px;
  padding-top: 72px;
  width: 478px;
  align-items: center;
}

.screen {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 451px;
  align-items: center;
  overflow: hidden;
  width: 254px;
}

.everything-but-choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 254px;
  overflow: auto;
  flex: 1 1 100%;
}

.header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  height: 24px;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 5px;
  width: 240px;
}

.header-icon {
  height: 24px;
  width: 24px;
}

.header-text {
  color: red;
  font-size: 24px;
  font-weight: 600;
}

.picture-frame {
  box-shadow: 1px 1px 10px 1px lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 316px;
  width: 234px;
  margin-top: 10px;
}

.first-pic {
  height: 278px;
  width: 208px;
}

.name-and-age {
  display: flex;
  font-size: 14px;
  justify-content: flex-start;
  margin-bottom: 5px;
  width: 208px;
}

.name {
  font-weight: 600;
}

.comma-and-space {
  margin-right: 3px;
}

.age {
  font-weight: 400;
}

.college {
  color: lightgray;
  font-size: 11px;
  margin-bottom: 5px;
  width: 208px;
}

.undersheet-one {
  box-shadow: 1px 1px 10px 1px lightgray;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 5px;
  width: 226px;
}

.undersheet-two {
  box-shadow: 1px 1px 10px 1px lightgray;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 5px;
  width: 215px;
}

.choices {
  display: flex;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  width: 254px;
}

.large-icon {
  border: 8px solid hsl(0, 0%, 95%);
  border-radius: 1000px;
  display: flex;
  height: 57px;
  justify-content: center;
  align-items: center;
  width: 57px;
}

.small-icon {
  border: 6px solid hsl(0, 0%, 95%);
  border-radius: 1000px;
  display: flex;
  height: 47px;
  justify-content: center;
  align-items: center;
  width: 47px;
}

.choice-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0 0 60px;
  width: 254px;
}

.dislike-button {
  background-color: hsl(0, 100%, 77%);
  background-image: url(iconmonstr-x-mark-1-240.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.like-button {
  background-color: hsl(120, 100%, 77%);
  background-image: url(iconmonstr-check-mark-1-240.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.go-back-button {
  background-color: hsl(45, 100%, 77%);
  background-image: url(iconmonstr-undo-2-240.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.superlike-button {
  background-color: hsl(210, 100%, 77%);
  background-image: url(iconmonstr-star-3-240.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.choice img {
  border-radius: 1000px;
  height: 20px;
  width: 20px;
}

.window {
  background-color: red;
  display: flex;
  height: 254px;
  flex-shrink: 0;
  overflow: auto;
  width: 254px;
}

.window img {
  height: 254px;
  width: 254px;
  flex-shrink: 0;
}

.small-gray-text {
  color: lightgray;
  font-size: 11px;
}

.data {
  flex: 0 0 auto;
  font-size: 15px;
  padding: 17px 13px 8px 13px;
  width: 254px;
}

.name-el { /* TODO: remove -el */
  font-size: 17px;
  font-weight: 600;
}

.comma {
  padding-right: 5px;
}

.age-el { /* TODO: remove -el */
  font-size: 17px;
  font-weight: 300;
}

.job {
  padding: 0px 13px 10px 13px;
  flex: 0 0 auto;
}

.college-el {/* TODO: remove -el */
  padding: 0px 13px 10px 13px;
  flex: 0 0 auto;
}

.distance {
  padding: 0px 13px 10px 13px;
  flex: 0 0 auto;
}

.bio {
  padding: 0px 13px 10px 13px;
  flex: 0 0 auto;
}

.under-picture {
  font-size: 11px;
  width: 254px;
}
